*.class
*.iml
*/.idea
computer.science/android/android.sdk/examples/gen/
computer.science/android/android.sdk/examples/bin/
computer.science/languages/java/JavaExamples/bin/
computer.science/languages/java/JavaExamples/out/
