<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sdk.example"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.NFC" />

    <!-- For android.media.audiofx.Visualizer -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="13" />

    <!--
         We will request access to the camera, saying we require a camera
         of some sort but not one with autofocus capability.
    -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <!-- android:theme="@android:style/Theme.Wallpaper.NoTitleBar" -->

        <activity
            android:label="@string/title_activity_sdk_main"
            android:name=".SdkMainActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_adapters"
            android:name=".adapter.AdapterExamples" >

            <!-- android:theme="@style/AppTheme" -->
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_adapter_array"
            android:name=".adapter.ArrayAdapterSimple" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_adapter_array_image_example"
            android:name=".adapter.ArrayAdapterImageText" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_package_info"
            android:name=".package1.manager.PackageInfoActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_app_examples"
            android:name=".app.AppExamples" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_app_examples"
            android:name=".app.AlertDlgExamples" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_activity_examples"
            android:name=".app.ActivityExamples" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>

        <!-- android:theme="@android:style/Theme.Dialog" -->
        <activity
            android:label="@string/title_activity_custom_dialog"
            android:name=".app.CustomDialog"
            android:theme="@style/Theme.CustomDialog" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_dialog_activity"
            android:name=".app.DialogActivity"
            android:theme="@android:style/Theme.DeviceDefault.Dialog" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_custom_title"
            android:name=".app.CustomTitleActivity"
            android:theme="@android:style/Theme"
            android:windowSoftInputMode="stateVisible|adjustPan" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_theme_examples"
            android:name=".app.theme.ThemeExamples" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_theme_dialog"
            android:name=".app.theme.ThemeDialog"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_theme_no_display"
            android:name=".app.theme.ThemeNoDisplay"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_theme_translucent"
            android:name=".app.theme.ThemeTranslucent"
            android:theme="@android:style/Theme.Translucent" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_theme_wallpaper_settings"
            android:name=".app.theme.ThemeWallpaperSettings"
            android:theme="@android:style/Theme.WallpaperSettings" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_theme_wallpaper"
            android:name=".app.theme.ThemeWallpaper"
            android:theme="@android:style/Theme.Wallpaper" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_theme_black"
            android:name=".app.theme.ThemeBlack"
            android:theme="@android:style/Theme.Black" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_theme_ligth_no_title_fullscreen"
            android:name=".app.theme.ThemeLightNoTitleBarFullScreen"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_theme_light"
            android:name=".app.theme.ThemeLight"
            android:theme="@android:style/Theme.Light" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_theme_no_title_fullscreen"
            android:name=".app.theme.ThemeNoTitleBarFullScreen"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_theme_no_title"
            android:name=".app.theme.ThemeNoTitleBar"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_theme_dialog_no_frame"
            android:name=".app.theme.ThemeDialogNoFrame"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_theme_dialog_alert"
            android:name=".app.theme.ThemeDialogAlert"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_theme_panel"
            android:name=".app.theme.ThemePanel"
            android:theme="@android:style/Theme.Panel" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_theme_holo_panel"
            android:name=".app.theme.ThemeHoloPanel"
            android:theme="@android:style/Theme.Holo.Panel" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_theme_action_bar"
            android:name=".app.theme.ThemeActionBar"
            android:theme="@android:style/Theme.WithActionBar" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_preference"
            android:name=".app.PreferenceExamples" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_intent"
            android:name=".app.IntentExamples" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_receive_result"
            android:name=".app.ReceiveActivityResult" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_send_result"
            android:name=".app.SendActivityResult" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_intent_activity_flags"
            android:name=".app.IntentFlagActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_forwarding_activity"
            android:name=".app.ForwardActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_forwarding_activity"
            android:name=".app.ForwardTargetActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_recreate_activity"
            android:name=".app.RecreateActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_recreate_activity"
            android:name=".app.RedirectActGetter" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_recreate_activity"
            android:name=".app.RedirectActChooser" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_redirection_activity"
            android:name=".app.RedirectionActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_reorder_activity"
            android:name=".app.ReorderActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_reorder_activity"
            android:name=".app.Reorder2ndActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_reorder_activity"
            android:name=".app.Reorder3rdActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_reorder_activity"
            android:name=".app.Reorder4thActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_save_restore_activity"
            android:name=".app.SaveRestoreStateActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_menu_activity"
            android:name=".app.MenuExamples" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_action_bar"
            android:name=".app.ActionBarExamples" />
        <activity
            android:label="@string/title_activity_action_bar"
            android:name=".app.ActionBarMechanicsActivity" />
        <activity
            android:label="@string/title_activity_action_bar"
            android:name=".app.ActionBarTabsActivity" />
        <activity
            android:label="@string/title_activity_action_bar"
            android:name=".app.ActionBarUsageActivity" />
        <activity
            android:label="@string/title_activity_action_bar"
            android:name=".app.ActionProviderActivity" />
        <activity
            android:label="@string/title_activity_action_bar"
            android:name=".app.DisplayOptionsActivity" />
        <activity
            android:label="@string/title_activity_content"
            android:name=".content.ContentExamples" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_content_assets"
            android:name=".content.AssetsExamples" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_content_clipboard"
            android:name=".content.ClipboardExamples" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_content_packages"
            android:name=".content.PackageExamples" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_content_provider"
            android:name=".content.ProviderExamples" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_content_resources"
            android:name=".content.ResourceExamples" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_content_storage"
            android:name=".content.StorageExamples" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_content_assets"
            android:name=".content.ReadAssetExample" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_content_resources"
            android:name=".content.LayoutReference" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_content_resources"
            android:name=".content.ResourcesExample" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_content_resources"
            android:name=".content.SmallestWidth" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_content_resources"
            android:name=".content.StyleTextExample" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_activity_content_resources"
            android:name=".content.WidthAndHeight" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
    </application>

</manifest>