<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sdk.example"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.NFC" />

    <!-- For android.media.audiofx.Visualizer -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <!--
         We will request access to the camera, saying we require a camera
         of some sort but not one with autofocus capability.
    -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <!-- android:theme="@android:style/Theme.Wallpaper.NoTitleBar" -->

        <activity
            android:name=".SdkMainActivity"
            android:label="@string/title_activity_sdk_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".adapter.AdapterExamples"
            android:label="@string/title_activity_adapters" >

            <!-- android:theme="@style/AppTheme" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".adapter.ArrayAdapterSimple"
            android:label="@string/title_activity_adapter_array" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".adapter.ArrayAdapterImageText"
            android:label="@string/title_activity_adapter_array_image_example" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".package1.manager.PackageInfoActivity"
            android:label="@string/title_activity_package_info" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.AppExamples"
            android:label="@string/title_activity_app_examples" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.AlertDlgExamples"
            android:label="@string/title_activity_app_examples" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.ActivityExamples"
            android:label="@string/title_activity_activity_examples" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>

        <!-- android:theme="@android:style/Theme.Dialog" -->
        <activity
            android:name=".app.CustomDialog"
            android:label="@string/title_activity_custom_dialog"
            android:theme="@style/Theme.CustomDialog" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.DialogActivity"
            android:label="@string/title_activity_dialog_activity"
            android:theme="@android:style/Theme.DeviceDefault.Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.CustomTitleActivity"
            android:label="@string/title_activity_custom_title"
            android:theme="@android:style/Theme"
            android:windowSoftInputMode="stateVisible|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.theme.ThemeExamples"
            android:label="@string/title_activity_theme_examples" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.theme.ThemeDialog"
            android:label="@string/title_activity_theme_dialog"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.theme.ThemeNoDisplay"
            android:label="@string/title_activity_theme_no_display"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.theme.ThemeTranslucent"
            android:label="@string/title_activity_theme_translucent"
            android:theme="@android:style/Theme.Translucent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.theme.ThemeWallpaperSettings"
            android:label="@string/title_activity_theme_wallpaper_settings"
            android:theme="@android:style/Theme.WallpaperSettings" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.theme.ThemeWallpaper"
            android:label="@string/title_activity_theme_wallpaper"
            android:theme="@android:style/Theme.Wallpaper" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.theme.ThemeBlack"
            android:label="@string/title_activity_theme_black"
            android:theme="@android:style/Theme.Black" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.theme.ThemeLightNoTitleBarFullScreen"
            android:label="@string/title_activity_theme_ligth_no_title_fullscreen"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.theme.ThemeLight"
            android:label="@string/title_activity_theme_light"
            android:theme="@android:style/Theme.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.theme.ThemeNoTitleBarFullScreen"
            android:label="@string/title_activity_theme_no_title_fullscreen"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.theme.ThemeNoTitleBar"
            android:label="@string/title_activity_theme_no_title"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.theme.ThemeDialogNoFrame"
            android:label="@string/title_activity_theme_dialog_no_frame"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.theme.ThemeDialogAlert"
            android:label="@string/title_activity_theme_dialog_alert"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.theme.ThemePanel"
            android:label="@string/title_activity_theme_panel"
            android:theme="@android:style/Theme.Panel" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.theme.ThemeHoloPanel"
            android:label="@string/title_activity_theme_holo_panel"
            android:theme="@android:style/Theme.Holo.Panel" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.theme.ThemeActionBar"
            android:label="@string/title_activity_theme_action_bar"
            android:theme="@android:style/Theme.WithActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.PreferenceExamples"
            android:label="@string/title_activity_preference" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.IntentExamples"
            android:label="@string/title_activity_intent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.ReceiveActivityResult"
            android:label="@string/title_activity_receive_result" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.SendActivityResult"
            android:label="@string/title_activity_send_result" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.IntentFlagActivity"
            android:label="@string/title_activity_intent_activity_flags" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.ForwardActivity"
            android:label="@string/title_activity_forwarding_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.ForwardTargetActivity"
            android:label="@string/title_activity_forwarding_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.RecreateActivity"
            android:label="@string/title_activity_recreate_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.RedirectActGetter"
            android:label="@string/title_activity_recreate_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.RedirectActChooser"
            android:label="@string/title_activity_recreate_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.RedirectionActivity"
            android:label="@string/title_activity_redirection_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.ReorderActivity"
            android:label="@string/title_activity_reorder_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.Reorder2ndActivity"
            android:label="@string/title_activity_reorder_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.Reorder3rdActivity"
            android:label="@string/title_activity_reorder_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.Reorder4thActivity"
            android:label="@string/title_activity_reorder_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.SaveRestoreStateActivity"
            android:label="@string/title_activity_save_restore_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.MenuExamples"
            android:label="@string/title_activity_menu_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.ActionBarExamples"
            android:label="@string/title_activity_action_bar" />
        <activity
            android:name=".app.ActionBarMechanicsActivity"
            android:label="@string/title_activity_action_bar" />
        <activity
            android:name=".app.ActionBarTabsActivity"
            android:label="@string/title_activity_action_bar" />
        <activity
            android:name=".app.ActionBarUsageActivity"
            android:label="@string/title_activity_action_bar" />
        <activity
            android:name=".app.ActionProviderActivity"
            android:label="@string/title_activity_action_bar" />
        <activity
            android:name=".app.DisplayOptionsActivity"
            android:label="@string/title_activity_action_bar" />
        <activity
            android:name=".app.service.ServiceExamples"
            android:label="@string/title_activity_services" />

        <service android:name=".app.service.ServiceForeground" />

        <activity
            android:name=".app.service.ServiceForeground$Controller"
            android:label="@string/title_activity_services"
            android:launchMode="singleTop" />

        <service
            android:name=".app.service.ServiceLocalBinding"
            android:stopWithTask="true" />

        <activity
            android:name=".app.service.ServiceLocalBindingActivity$Controller"
            android:label="@string/title_activity_services"
            android:launchMode="singleTop" />
        <activity
            android:name=".app.service.ServiceLocalBindingActivity$Binding"
            android:label="@string/title_activity_services"
            android:launchMode="singleTop" />
        <activity
            android:name=".app.service.ServiceLocalBinding"
            android:label="@string/title_activity_services" />
        <activity
            android:name=".app.service.ServiceLocalController"
            android:label="@string/title_activity_services" />

        <service
            android:name=".app.service.ServiceMessenger"
            android:exported="true"
            android:process=":remote" >
            <intent-filter>

                <!--
                     This is an action code you can use to select the service
                     without explicitly supplying the implementation class.
                -->
                <action android:name="com.pekall.fmradio.FMRADIO_SERVICE" />
            </intent-filter>
        </service>

        <activity
            android:name=".app.service.ServiceMessengerActivity$Binding"
            android:label="@string/title_activity_services" />
        <activity
            android:name=".app.service.ServiceRemoteBinding"
            android:label="@string/title_activity_services" />
        <activity
            android:name=".app.service.ServiceRemoteBindingOption"
            android:label="@string/title_activity_services" />

        <service
            android:name=".app.service.ServiceRemoteController"
            android:process=":remote" >
            <intent-filter>

                <!--
                     These are the interfaces supported by the service, which
                     you can bind to.
                -->
                <action android:name="com.sdk.example.app.service.IRemoteService" />
                <action android:name="com.sdk.example.app.service.ISecondary" />
                <!--
                     This is an action code you can use to select the service
                     without explicitly supplying the implementation class.
                -->
                <action android:name="com.sdk.example.app.service.REMOTE_SERVICE" />
            </intent-filter>
        </service>

        <activity
            android:name=".app.service.ServiceRemoteController$Controller"
            android:label="@string/title_activity_services" />
        <activity
            android:name=".app.service.ServiceRemoteController$Binding"
            android:label="@string/title_activity_services" />
        <activity
            android:name=".app.service.ServiceRemoteController$BindingOptions"
            android:label="@string/title_activity_services" />
        
        
        <activity
            android:name=".app.service.ServiceStartArgumentController"
            android:label="@string/title_activity_services" />
        <activity
            android:name=".content.ContentExamples"
            android:label="@string/title_activity_content" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".content.AssetsExamples"
            android:label="@string/title_activity_content_assets" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".content.ClipboardExamples"
            android:label="@string/title_activity_content_clipboard" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".content.PackageExamples"
            android:label="@string/title_activity_content_packages" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".content.ProviderExamples"
            android:label="@string/title_activity_content_provider" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".content.ResourceExamples"
            android:label="@string/title_activity_content_resources" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".content.StorageExamples"
            android:label="@string/title_activity_content_storage" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".content.ReadAssetExample"
            android:label="@string/title_activity_content_assets" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".content.LayoutReference"
            android:label="@string/title_activity_content_resources" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".content.ResourcesExample"
            android:label="@string/title_activity_content_resources" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".content.SmallestWidth"
            android:label="@string/title_activity_content_resources" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".content.StyleTextExample"
            android:label="@string/title_activity_content_resources" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".content.WidthAndHeight"
            android:label="@string/title_activity_content_resources" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.sdk.example.intent.category.default" />
            </intent-filter>
        </activity>
    </application>

</manifest>