body {
	font-size : 0.8em;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	margin : 0px;
	padding: 0px;
	background-color: #5a543a;
	padding-bottom: 20px;
}

a:visited,
a:active,
a:link {	
	color : #006ff7;
	
}

.post
{
	margin: 0 0 20px 0;
	line-height:1.5;	
}

.posthead
{
	border-style: dotted;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: #dfdfdf;
	color: #529e00;
	font-weight: normal;
	font-size: 1.5em;
	padding-bottom: 6px;
	margin: 0px;
	margin-bottom: 10px;
}

.posthead a:link, .posthead a:visited, .posthead a:active
{
	color: #529e00;
	text-decoration: none;
}

.posthead a:hover
{
	color: #529e00;
	text-decoration: underline;
}

.postfoot 
{
	margin-top: 10px;
	border-style: dotted;
	border-width: 0px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-color: #dfdfdf;
	padding-top: 6px;
	padding-bottom: 6px;	
	color: #868686;
}

.postfoot .em
{
	color: #000000;
}

.pageTitle
{
	color: #529e00;
	font-size: 1.8em;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 0px;
}

.date
{
	color: #529e00;
	font-size: 1.1em;
	font-weight: bold;
}

#leftmenu {
	float: left;
	width : 200px;
	padding-left: 16px;
	overflow: hidden;
}

#leftmenu h3 {
	font-size : 1em;
	font-weight: bold;
	margin : 0px;
	padding: 0 0 6px 0;
	border-style: dotted;
	border-width: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #dfdfdf;
	margin : 0px;	
	margin-bottom: 6px;
	
}

#leftmenu ul {
	list-style : none;
	font-size : 0.9em;
	margin: 0px;
	padding: 0px;
	margin-bottom: 20px;
}

#leftmenu ul li
{
	color: #a99238;
	margin-top: 6px;
	margin-bottom: 6px;
	font-weight: bold;
}

#leftmenu ul a:link, #leftmenu ul a:visited, #leftmenu ul a:active
{
	color: #a99238;
	text-decoration: none;
}

#leftmenu ul a:hover
{
	color: #a99238;
	text-decoration: underline;
}

#divSendMsg
{
	margin-top:-10px;
	margin-bottom:5px;
	margin-left:0px;
}

#divSendMsg a:link, #divSendMsg a:visited, #divSendMsg a:active
{
	color: #a99238;
	text-decoration: none;
}

#main {
	padding-right: 12px;
	width: 534px;
	overflow: hidden;
	padding-left: 20px;
}

#footer {
	margin: 0px;	
	clear: both;
	text-align: center;
	padding-left: 16px;
}

#quicklinks 
{
	padding-top: 10px;
}

input.text 
{
	width : 300px;	
}

textarea 
{
	width : 300px;
	height : 200px;	
}

#relatedlinks ul 
{
	list-style : none;
	margin-left : 10px;
	padding : 0px;
}

fieldset
{
	margin-top: 16px;
	padding: 0 20px 20px 20px;
}

legend
{
	color: #7cc10b;
	font-weight: bold;
}

fieldset textarea
{
	width: 450px;
}

fieldset .smallbox
{
	width: 450px;
}

#comments h2
{
	color: #7cc10b;
	font-size: 1em;
	margin-top: 16px;
}


.CommentArea
{
	margin: 8px 0px 8px 0px;
}

.CommentAreaOwner
{
	margin: 8px 0px 8px 0px;
}

.CommentAreaOwner .CommentText3
{
	background-color: #f3f3f3;
}

.CommentTitle
{
	margin-bottom: 6px;
	font-size: 1em;
	font-weight: normal;
}

.CommentAreaOwner .CommentTitle
{
	font-weight: bold;
}

.CommentArrow
{
	background-image: url(../images/summer-comment-arrow.gif);
	background-repeat: no-repeat;
	width: 14px;
	height: 14px;
	margin-bottom: -7px;
}

.CommentText
{
	padding-bottom: 3px;
	background-image: url(../images/comment-shadow.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	font-size: 1em;
}

.CommentText2
{
	border: solid 1px #bcbcbc;
	padding: 3px;
}

.CommentText3
{
	padding: 5px;
	font-size: 1.0em;
}

.CommentFooter
{
	margin-top: 0px;
	font-size: .9em;
	color: #999999;
	padding-left: 0px;
}

.CommentFooter a:link, .CommentFooter a:visited, .CommentFooter a:active
{
	color: #999999;
	text-decoration: none;
	font-size: .9em;
}

#news
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.copyright  /* used to format the content owner's copyright notice */
{
    text-align: center;
    font-size : .65em;
    font-style:italic;
}

/*
Rating Styles
*/

.CommonRateControlReadOnly
{
	display: inline-table;
	display: inline-block;
	background-color: #ffffff;
	border-style: solid;
	border-color: #999999;
	border-width: 1px;
	padding: 1px;
}

.CommonRateControl
{
	display: inline-table;
	display: inline-block;
	background-color: #eeeeee;
	border-style: solid;
	border-color: #999999;
	border-width: 1px;
	cursor: pointer;
	padding: 1px;
}

.CommonRateControlActive
{
	display: inline-table;
	display: inline-block;
	background-color: #ffcc66;
	border-style: solid;
	border-width: 1px;
	border-color: #cc9933;
	cursor: pointer;
	padding: 1px;
}

/*
Rating Styles
*/

.CommonRateControlReadOnly
{
	display: inline-table;
	display: inline-block;
	background-color: #ffffff;
	border-style: solid;
	border-color: #999999;
	border-width: 1px;
	padding: 1px;
}

.CommonRateControl
{
	display: inline-table;
	display: inline-block;
	background-color: #eeeeee;
	border-style: solid;
	border-color: #999999;
	border-width: 1px;
	cursor: pointer;
	padding: 1px;
}

.CommonRateControlActive
{
	display: inline-table;
	display: inline-block;
	background-color: #ffcc66;
	border-style: solid;
	border-width: 1px;
	border-color: #cc9933;
	cursor: pointer;
	padding: 1px;
}

.CommonRateControlReadOnly img, .CommonRateControl img, .CommonRateControlActive img
{
	margin: 0px;
	padding: 0px;
	border-style: none;
}

#content
{
	padding: 32px 6px 6px 6px;
	background-color: #ffffff;
	width: 792px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

#main a:visited,
#main a:active,
#main a:link {	
	color : #006ff7;
    font-size : 0.9em;
}

/* The masthead sits at the top of the page.*/
#masthead 
{
	margin-top: 8px;
	background: #ffffff;
	background-image: url(images/summer-title.jpg);
	width: 804px;
	height: 221px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
    text-align:left;
}
#masthead ul {
	color: #333;
	padding: 0;
	list-style-type: none;
	margin: 0;
}
#masthead ul li {
	display: inline;
}
#masthead ul li a {
	padding: 0 0.5em;
	text-decoration: none;
	margin: 0;
}
#masthead a:link, #masthead a:visited, #masthead a:active, #masthead a:hover {
	color: #00F;
	text-decoration: none;
}

#userArea
{
	float: right;
	margin-top: 16px;
	padding-right: 6px;
}

#welcome
{
	background-color: #000000;
	padding: 6px;
	padding-top: 4px;
	font-size: .7em;
	color: #ffffff;
	margin: 0px;
	text-align: center;
}

#welcome a:link, #welcome a:visited, #welcome a:active, #welcome a:hover
{
	color: #ffffff;
	font-weight: bold;
	text-decoration: underline;
}

#Search
{
	margin-top: 4px;
	padding-right: 4px;
}

#Search .searchBox 
{
	width: 100px;
	border: 1px solid #000;
	font-size: .9em;
}

.SearchButtonOuter
{
	background-image: url(images/summer-search-left.gif);
	background-position: top left;
	background-repeat: no-repeat;
	display: inline-table;
	display: inline-block;
	font-size: 12px;
	font-variant: small-caps;
	text-align: left;
	padding-left: 4px;
	font-weight: bold;
	margin-left: 4px;
}

.SearchButton
{
	background-image: url(images/summer-search-right.gif);
	background-position: top right;
	background-repeat: no-repeat;
	display: inline-table;
	display: inline-block;
	font-size: 12px;
	font-variant: small-caps;
	text-align: left;
	padding-left: 5px;
	padding-right: 9px;
	padding-top: 3px;
	padding-bottom: 4px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}

#Search a:link, #Search a:visited, #Search a:active, #Search a:hover
{
	color: #ffffff;
	text-decoration: none;
}

#title
{
	position: relative;
	left: 63px;
	top: 76px;
	width: 151px;
	height: 74px;
	overflow: hidden;
	text-align: center;
	font-size: 11px;
	/*border: solid 1px #ff0000;*/
}

#title h1
{
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	color: #735c35
}

#title a:link, #title a:visited, #title a:active, #title a:hover
{
	color: #735c35
}

#nav
{
	background-color: #ffffff;
	padding: 0px 6px 0px 6px;
	width: 792px;
	height: 35px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

#navbar
{
	background: #666666 url('images/summer-nav-background.jpg') repeat-x;
	height: 35px;
}

#navbar ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#navbar li
{
	float: left;
	padding-left: 18px;
	margin-left: 8px;
	margin-right: 8px;
	background-image: url('images/summer-nav-bul.gif');
	background-repeat: no-repeat;
	background-position: 4px 13px;
	padding-top: 9px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

#navbar a:link, #navbar a:visited, #navbar a:active
{
	color: #ffffff;
	text-decoration: none;
}

#navbar a:hover
{
	text-decoration: underline;
}

/* Tag Styles */

.TagCloud
{
	background-color: #f7f7f7;
	padding: 8px;
	padding-top: 16px;
	padding-bottom: 16px;
	margin: 0px;
	margin-bottom: 16px;
	margin-top: 16px;
	color: #999999;
	line-height: 180%;
	list-style-type: none;
}

.SidebarTagCloud
{
	font-size: 80%;
	line-height: 200%;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.Tag1, .Tag2, .Tag3, .Tag4, .Tag5, .Tag6 
{
	margin: 0px;
	padding: 0px;
	display: inline;
}

.Tag1 a:link, .Tag1 a:visited, .Tag1 a:active
{
	margin-right: 6px;
	color: #001fa7;
	font-size: 160%;
	font-weight: 900;
	text-decoration: none;
}

.Tag2 a:link, .Tag2 a:visited, .Tag2 a:active
{
	margin-right: 6px;
	color: #002fb7;
	font-size: 145%;
	font-weight: 800;
	text-decoration: none;
}

.Tag3 a:link, .Tag3 a:visited, .Tag3 a:active
{
	margin-right: 6px;
	color: #003fc7;
	font-size: 130%;
	font-weight: 600;
	text-decoration: none;
}

.Tag4 a:link, .Tag4 a:visited, .Tag4 a:active
{
	margin-right: 6px;
	color: #004fd7;
	font-size: 120%;
	font-weight: 500;
	text-decoration: none;
}

.Tag5 a:link, .Tag5 a:visited, .Tag5 a:active
{
	margin-right: 6px;
	color: #005fe7;
	font-size: 110%;
	font-weight: 300;
	text-decoration: none;
}

.Tag6 a:link, .Tag6 a:visited, .Tag6 a:active
{
	margin-right: 6px;
	color: #006ff7;
	font-size: 100%;
	font-weight: 200;
	text-decoration: none;
}

.Tag1 a:hover, .Tag2 a:hover, .Tag3 a:hover, .Tag4 a:hover, .Tag5 a:hover, .Tag6 a:hover
{
	text-decoration: underline;
}

/* Inline tag editor */
.InlineTagEditor
{
	padding: 4px;
	border: solid 1px #999999;
	background-color: #f3f3f3;
}

.TextButton
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	margin: 1px;
	padding: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	border-top-color: #cccccc;
	border-left-color: #cccccc;
	background-color: #eeeeee;
	color: #333333;
	font-family: Tahoma, Arial, Helvetica;
	font-size: 80%;
	font-weight: bold;
	white-space: nowrap;
}

.TextButton:LINK
{
	text-decoration: none;
	color: #333333;
	background-color: #eeeeee;
}

.TextButton:VISITED
{
	text-decoration: none;
	color: #333333;
	background-color: #eeeeee;
}

.TextButton:ACTIVE
{
	text-decoration: none;
	color: #333333;
}

.TextButton:HOVER
{
	text-decoration: underline;
	color: #333333;
	background-color: #dddddd;
}

/* Modal Styles */

.ModalMask
{
	opacity: .4;
	filter: alpha(opacity=40);
	background-color: #333333;
}

.Modal
{
	border-style: solid;
	border-width: 1px;
	border-color: #888888;
	border-right-width: 3px;
	border-right-color: #888888;
	border-bottom-width: 3px;
	border-bottom-color: #888888;
	background-color: #eeeeee;
}

.ModalTitle
{
	font-family: Tahoma, Arial, Helvetica;
	height: 18px;
	font-size: 16px;
	padding: 5px;
	padding-bottom: 7px;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: #cccccc;
	background-color: #dddddd;
	color: #000000;
	font-weight: bold;
	cursor: move;
	overflow: hidden;
	text-align: left;
}

.ModalClose
{
	width: 33px;
	height: 12px;
	background-image: url(images/common/close.gif);
	background-repeat: no-repeat;
	overflow: hidden;
	cursor: pointer;
	float: right;
}

.ModalContent
{
	background-color: #ffffff;
}

.ModalFooter
{
	border-style: solid;
	border-width: 0px;
	border-top-width: 1px;
	border-color: #cccccc;
	background-color: #eeeeee;
	padding: 2px;
}

.ModalResize
{
	width: 14px;
	height: 14px;
	background-image: url(images/common/resize.gif);
	background-repeat: no-repeat;
	overflow: hidden;
	float: right;
	cursor: se-resize;
}

.Cal
{
	width: 200px;
	margin-bottom:10px;
	margin-top:10px;
}

.CalDayHeader
{
	height:28px;
}

.commentTextBox
{
	width:400px;
}

.commenttb
{
	width:320px;
}

h5
{
	font-size: 13px;
}